<nav class="navbar fixed-bottom navbar-dark bg-primary justify-content-center">
    <div class="d-inline-flex p-2 bd-highlight">
        <div class="d-flex justify-content-center">
            <a><i class="far fa-copyright mt-1"></i> &nbsp; SBRU Old Boys 2020</a>
        </div>
        &nbsp;&nbsp;
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/groups/beaches.oldsalts/" target="_blank"><i class="fab fa-facebook mt-1"></i> &nbsp; Facebook</a>
        </div>
        &nbsp;&nbsp;
        <div class="d-flex justify-content-center">
            <a><i class="far fa-envelope mt-1"></i> &nbsp; Get in touch</a>
        </div>
    </div>
</nav>