<nav class="navbar fixed-bottom navbar-dark bg-primary justify-content-center">
    <div class="d-inline-flex p-2 bd-highlight">
        <div class="d-flex justify-content-center">
            <i class="far fa-copyright mt-1"></i> &nbsp; SBRU Old Boys 2020
        </div>
        &nbsp;&nbsp;
        <div class="d-flex justify-content-center">
            <i class="fab fa-facebook mt-1"></i> &nbsp; Facebook
        </div>
        &nbsp;&nbsp;
        <div class="d-flex justify-content-center">
            <i class="far fa-envelope mt-1"></i> &nbsp; Get in touch
        </div>
    </div>
</nav>