@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-yellow {
  color: #f7c32f;
}

.bg-blue {
  color: #1f87c5;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
